APP_NAME="Craft CMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL="https://test-craftcms6.ddev.site"
PRIMARY_SITE_URL="https://en.craftcms6.ddev.site"
PRIMARY_SITE_URL_DE="https://de.craftcms6.ddev.site"
CRAFT_BASE_CP_URL="https://cp.craftcms6.ddev.site"
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD=db
SESSION_DRIVER=file
CACHE_STORE=file
